body{
background-image: url("../img/saturn.png");
background-size:100%;
background-repeat:no-repeat;
background-color:#000000;
font-family:Georgia, serif;
font-size: 24px;
color:#d5ce64;
text-align:center;
}

main{
	display:inline-block;
	width:65%;
	background-color:black;
	text-align:left;
	padding: 5px;
}

.header{
top:75%;
}

.footer{
background-color:#000000;
}

a:link{
color:#d5ce64
}

a:visited{
color:#d5ce64
}

@media only screen and (max-width: 800px) {
  main {
    width:100%;
  }
}
